#survey-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper {
  display: grid;
  place-items: center;
}
.radio,
.checkers {
  display: flex;
}
input,
select,
textarea {
  margin-bottom: 1rem;
}
